
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Ankapur Chicken</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/ksfolder/css/bootstrap.min.css" rel="stylesheet" />
    <!-- semantic -->
    <link href="~/ksfolder/css/semantic.css" rel="stylesheet" />
    <link href="~/ksfolder/css/semantic.min.css" rel="stylesheet" />
    <!-- font-awesome -->
    <link href="~/ksfolder/css/font-awesome.min.css" rel="stylesheet" />
    <!-- line icons -->
    <link href="~/ksfolder/css/linearicons.css" rel="stylesheet" />
    <!-- simple-line-icons-->
    <link href="~/ksfolder/css/simple-line-icons.css" rel="stylesheet" />
    <!-- owl-carousel -->
    <link href="~/ksfolder/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/ksfolder/css/owl.theme.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/ksfolder/css/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- shortcodes -->
    <link href="~/ksfolder/css/shortcodes.css" rel="stylesheet" />
    <!-- base -->
    <link href="~/ksfolder/css/base.css" rel="stylesheet" />
    <!-- Bootsnav -->
    <link href="~/ksfolder/css/bootsnav.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="~/ksfolder/css/responsive.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.html" />
    <style>
        .row {
            margin-right: -7px;
            margin-left: -7px;
        }

        .container-fluid {
            padding-right: 116px;
            padding-left: 13px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="clear-loading loading-effect"><img src="~/ksfolder/images/loading.gif" width="100" alt=""></div>
    </div>
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->
        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="icon-magnifier icons"></i></a></li>
                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand" href="index-default.html"><img src="~/ksfolder/images/logo-black.png" class="logo logo-scrolled" alt=""> </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Megamenu -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active dropdown">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>

                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Login/Signup</a>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- Start Side Menu -->
        @*<div class="side dark-bg">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget">
                    <p class="text-center my-3"><img src="~/ksfolder/images/logo-white.png" class="logo" alt="" /></p>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="widget">
                    <h6 class="text-uppercase">OFFICE 01</h6>
                    <ul class="list-unstyled address">
                        <li><i class="lnr lnr-map-marker"></i><span>387 Madison Ave, New York, NY 10118</span></li>
                        <li><i class="lnr lnr-envelope"></i><span>support@yourname.com</span></li>
                        <li><i class="icon-phone"></i><span>(+91) 123-456-7890</span></li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="social-icons animated color">
                        <ul class="clearfix">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
    <!-- Our service -->
    <section class="full-height bg white-text header-slide construction-slider single-image overlay" data-color="dark" data-overlay="5" data-bg-img="images/construction/bg1.png">
        <BR><BR><BR><BR><BR><BR><BR><BR><BR>
        <h6 align="center">Register</h6><br>
        <center>
            @*<div class="ui action input ">*@
                <div class="sign-up-htm">
            
                    <div class="input-group">
                        <input id="txtphone" type="text" class="form-control" name="PhoneNumber" placeholder="Phone Number" maxlength="10">
                        <button class="ui icon button">
</div>
                    <div class="input-group">
                        <input id="txtname" type="text" class="form-control" name="CustomerName" placeholder="Full Name" maxlength="20"><button class="ui icon button">
</div>
                    <div class="input-group">
                        <input id="password-1" type="password" class="form-control" name="password" placeholder="Password" maxlength="10"><button class="ui icon button">
</div>
                    <div class="input-group">
                        <input id="txtconpassword" type="password" class="form-control" name="conformpassword" placeholder="Confirm Password" maxlength="10"><button class="ui icon button">
</div>
                    <div class="input-group">
                        <input id="txtdeladdress" type="text" class="form-control" name="Address" placeholder="Address" maxlength="50"><button class="ui icon button">
</div>
                    <div class="input-group">
                        <button class="ui icon button"value="registercustomer" onclick="savecustomer(this.value)">Register</button>>

</div>
                </div>
                @*</div>*@
        </center>
    </section>



    <!-- End Our service -->
    <!-- Back to Top -->
    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- jquery  -->
    <script src="~/ksfolder/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/ksfolder/js/bootstrap.min.js"></script>
    <!-- Appear -->
    <script src="~/ksfolder/js/jquery.appear.js"></script>
    <!-- owl-carousel -->
    <script src="~/ksfolder/js/owl-carousel/owl.carousel.min.js"></script>
    <!-- counter -->
    <script src="~/ksfolder/js/counter/jquery.countTo.js"></script>
    <!-- countdown -->
    <script src="~/ksfolder/js/countdown/jquery.downCount.js"></script>
    <!-- Piechart -->
    <script src="~/ksfolder/js/jquery.piechart.js"></script>
    <!-- magnific popup -->
    <script src="~/ksfolder/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- isotope -->
    <script src="~/ksfolder/js/isotope/imagesLoaded.js"></script>
    <script src="~/ksfolder/js/isotope/isotope.pkgd.min.js"></script>

    <!-- jarallax -->
    <script src="~/ksfolder/js/jarallax/jarallax.js"></script>
    <script src="~/ksfolder/js/jarallax/jarallax-video.js"></script>

    <!-- Bootsnavs -->
    <script src="~/ksfolder/js/bootsnav.js"></script>
    <!-- semantic -->
    <script src="~/ksfolder/js/semantic.js"></script>
    <script src="~/ksfolder/js/semantic.min.js"></script>
    <!-- custom -->
    <script src="~/ksfolder/js/custom.js"></script>
 

</body>
</html>
